/*************************/
/***安顿个人健康数据仪表盘***/
/*************************/
* {  -webkit-user-select: none; outline: none }
html {height:100%;}
body {margin:0;padding:0;background:#0b1722;overflow-x:hidden; display:flex; align-items:center; justify-content:center;font-family:microsoft Yahei}

p {margin:0;padding:0}
a {background:transparent;text-decoration:none}
a:active, a:hover {outline:0}
img {border:0}
em {font-style:normal}
ul {margin:0;padding:0}
li {list-style:none}
table {border-spacing:0;border-collapse:collapse}
td,th {padding:0}
.clear {clear:both;font-size:0;height:0;overflow:hidden}
div { border:0 solid #333; -webkit-box-sizing: border-box; box-sizing: border-box;}
/*
div:not(#main):not(#header):not(#thisTime):not(#top):not(#center):not(#bottom) {transition: all .5s ease-in-out}
div:not(#main):not(#header):not(#thisTime):not(#top):not(#center):not(#bottom):hover {box-shadow:0 0 15px rgba(50,100,250,.5)}
*/
#main {width:1900px; min-width:1900px; height:1080px; border:0 solid #ddd;z-index:999;margin-bottom:30px}
#myClock {margin-left:10px;letter-spacing:1px;font-weight:500;margin-top:2px}

#header {width:100%;height:100px;background:url(../images/head.png) center 0 no-repeat;text-align:center;color:#fff;font-size:30px;font-weight:900;line-height:80px;position:relative}
#thisTime {width:1800px;height:50px;position:absolute;left:50%;margin-left:-900px;line-height:50px;color:#7bd2ff;font-size:14px;font-weight:500;top:20px;text-align:left;display:flex;align-items:center}
#thisTime img {margin-right:6px}
#thisTime a {color:#7bd2ff;margin-right:15px}
#thisTime a:hover {color:#fff}

.container {width:100%;}
#top {height:200px;justify-content: space-between;}
#center {height:490px;overflow:hidden}
#bottom {height:300px;justify-content: space-between;}

.topCon {width:32%; height:190px; margin-left:1%;float:left;border-radius:3px;}

.conTitle {width:100%;margin-left:0%;color:#fff;height:32px;line-height:24px;text-indent:50px}
.topitem {width:22.5%;height:50px;padding:0 1%;background:#031d31;border-radius:0 0 10px 0;border:1px solid #174551;color:#fff;margin:1% 0 0 2%;float:left;box-shadow:0 0 8px rgba(0,100,250,0.5)}

.itemTitle {width:100%;font-size:12px;color:#fff}
.itemNum {width:60%;font-size:22px;font-weight:900;float:left}
.itemFd {width:40%;font-size:12px;justify-content: center;float:left}
.red {color:#f00}
.green {color:#3F6}
.keyRed {background:#c00;}
.keyDef {background:none; color:#fff}
#topTable {width:96%;height:90px;float:left;margin-left:2%}

.zCon {width:100%;}
.zConTitle {width:8%;padding:1% 1%;color:#fff;font-size:14px;font-weight:600;float:left;text-align:center;margin-right:1%}
.zCon .topitem {width:27%;height:60px;padding:0 2%;background:rgba(5,30,50,0.5);border-radius:0 0 10px 0;color:#fff;margin:1% 0 2% 2%;float:left}
.itemTitle {width:100%;font-size:12px;margin-top:3px}
.itemNum {width:60%;font-size:20px;font-weight:900;float:left}
.itemFd {width:40%;font-size:12px;justify-content: center;float:left}

#sx .topitem {width:47%;height:60px;padding:0 2%;background:#031d31;border-radius:0 0 10px 0;color:#fff;margin:2% 0 0 2%;float:left}
#sx .itemTitle {font-size:14px}
#sx .itemNum {width:96%;font-size:24px;font-weight:900;float:left;text-align:right}

#pieCon {width:30%;height:500px;float:left;margin-left:1%}
.cCenter {width:100%;float:left;}
.pieC {width:30.5%;height:230px;float:left;margin-right:2%}

#tempPieCon {width:100%;height:500px;position:relative}
.pieWin {width:70%;height:200px;background:rgba(0,0,0,0.9);position:absolute;left:15%;top:30px;z-index:999;display:none}
.winItem {width:100%;height:200px;flex-wrap:wrap}
.winTitle {width:100%;height:36px;line-height:36px;color:#fff;text-indent:6px;position:relative;font-size:14px}
.winTitle em {position:absolute;right:10px;top:0;font-size:12px;cursor:pointer}
.winCon {width:96%;height:125px;margin-left:2%;}
.winConList {width:100%;height:40px;border-bototm:1px dashed #ddd;margin-top:5px}
.winConListNum {width:24px;height:24px;border-radius:24px;background:#06c;font-size:12px;line-height:24px;color:#fff;margin-left:10px;float:left;text-align:center}
.winConListName {width:calc( 100% - 120px);color:#fff;margin-left:10px;float:left}
.winConListcode {width:50px;height:24px;color:#eee;font-size:12px;float:left}
.LableContent {width:100px;height:60px;backgrond:rgba(0,0,0,0.5)}
.lineBox {width:30%;height:500px;margin-left:1%;float:left}
.lineCon {width:100%;height:445px;}
.highrisk {width:36%;height:500px;margin-left:1%;float:left}
.highCon {width:100%;height:260px}

.highKen {width:100%;height:260px;position:relative;}
.highDon {width:100%;height:220px;flex-wrap:wrap;justify-content: space-between;}
.hditem {width:32%;height:180px;padding:1% 2%;background:#040e4e;border-radius:5px;color:#fff;display:block;margin:1% 1% 0 0;float:left}
.hdTitle {width:100%;font-size:14px;margin-bottom:4px;margin-top:5px}

#xDcon {width:100%;height:210px;position:relative;margin-top:10px}
#xDon {width:100%;height:220px}

.bLeft {width:50%;height:300px;float:left;margin-left:1%}
.fjList  {color:#ccc;font-size:12px;margin-left:1%}
.fjList {}
.fjList th {line-height:33px;background:rgba(0,100,250,0.3);text-indent:20px}
.fjList td {line-height:32px;text-indent:20px;border-bottom:1px solid #333}
.fjList td a {color:#fff}
.fjList tbody tr {transition: all .5s ease-in-out}
.fjList tbody tr:hover {background:rgba(0,0,0,0.5)}

.bRight {width:49%;height:300px;float:left}
.bRcon {width:48%;height:300px;float:left;color:#eee;margin-left:1%}
.superslider , .picList , .drawLine {width:450px;height:210px;overflow:hidden;float:left}
.drawLine {flex-wrap:wrap;margin:12px 0 0 12px}

.picList table td { font-size:14px; padding:4px 0}
.picList table tr {border-bottom:1px dashed #222}

.sxBlue {padding:2px 10px;background:#06c;color:#fff}
.sxGreen {padding:2px 10px;background:#0C3;color:#fff}
.sxRed  {padding:2px 10px;background:#c00;color:#fff}

#familyPie , #familyBar {width:100%;height:240px}
