#mask { 
	width:100%; 
	min-width:1200px; 
	height:100%; 
	background:rgba(0,0,0,0.95); 
	position:fixed; 
	top:0; 
	left:0; 
	display:flex; 
	align-items:center; 
	justify-content:center; 
	z-index:9999 
	}
#show { 
	width:1280px; 
	height:680px;
	position:relative
	}
#show_title {
	width:100%; 
	height:40px; 
	background:#03C;
	float:left
	}
#myTitle {
	float:left;
	color:#eee;
	font-size:16px;
	margin-top:8px;
	margin-left:12px
	}
.close {
	width:28px; 
	height:28px; 
	background:#f60; 
	cursor:pointer;
	float:right;
	margin:6px 10px 0 0;
	transition: all .2s ease-in-out
	}
.close:hover {
	filter:brightness(2)
	}
#show_content {
	width:100%;
	height:620px;
	background:#CADBE8;
	color:#fff;
	float:left
	}
.show_about {
	width:1240px;
	height:580px;
	margin:20px 0 0 20px;
	background:#fff;
	}