@charset "utf-8";
/* CSS Document */

.loader-container {
  width: 200px;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap
}
#loader_xueyang { background:url(../images/ballWrapBlue.png) center center no-repeat }
#loader_xinlv { background:url(../images/ballWrapRed.png) center center no-repeat }
#loader_xueya { background:url(../images/ballWrapGreen.png) center center no-repeat }
.wave-shadow {
	width:140px;
	height:140px;
	background:url(../images/ballWrapRed.png) center center no-repeat;
	position:absolute;top:0;left:0;
	z-index:999
	}
.wave-loader {
  position: relative;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  margin-top:38px;
  margin-left:-6px;
  box-shadow:inset  0 0 0 30px rgba(255, 255, 255, 0.5),
}
.itemTime {width:100%;height:48px;line-height:48px;text-align:center;color:#eee}
.itemFontNormal { font-size:3rem }
.itemFontSmall { font-size: 1.8rem}
.itemFontSmall em {font-size:1.2rem}
.wave {
  position: absolute;
  width: 200%;
  height: 200%;
  top: 50%;
  left: -50%;
  transform-origin: 50% 50%;
  animation: wave 6s linear infinite;
}

#loader_xueya .wave1 { background: rgba(30, 200, 130, 0.5); border-radius: 45%; animation-duration: 4s }
#loader_xueya .wave2 { background: rgba(30, 200, 130, 0.8); border-radius: 40%; animation-duration:8s }

#loader_xueyang .wave1 { background: rgba(10, 50, 150, 0.5); border-radius: 45%; animation-duration: 4s }
#loader_xueyang .wave2 { background: rgba(40, 130, 255, 0.8); border-radius: 40%; animation-duration:8s }

#loader_xinlv .wave1 { background: rgba(200, 80, 0, 0.5); border-radius: 45%; animation-duration: 4s }
#loader_xinlv .wave2 { background: rgba(200, 80, 0, 0.8); border-radius: 40%; animation-duration:8s }

.percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index:888;
  margin-top:-10px;
  transform: translate(-50%, -50%);
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.itemName {
	position:absolute;
	width:100%;
	height:20px;
	top:70%;
	left:0;
	text-align:center;
	color:#fff
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.drop {
  position: absolute;
  width: 8px;
  height: 12px;
  transform-origin: center;
  opacity: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 206, 255, 0.9),
    rgba(108, 92, 231, 0.9)
  );
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.ripple {
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transform-origin: center;
  opacity: 0;
}