.tri{ 
    width:1440px; 
    height:550px; 
    background:rgba(0,0,0,0.1); 
    box-shadow: 0 0 25px rgba(0, 214, 225, 0) inset; 
    position: relative; 
    margin:30px 0;
    padding: 20px 10PX; 
    box-sizing: border-box;
    border:1px solid #1b5184
}
.tri::before , .tri::after , .triBox::before , .triBox::after {
    position:absolute;
    width:12px;
    height:12px;
    content:""
}
.tri::before { 
    top: -1px;
    left: -1px; 
	border-left: 1px solid #c2feff;
    border-top: 1px solid #c2feff; 
}
.tri::after {
    top: -1px; 
    right: -1px; 
    border-right: 1px solid #c2feff; 
    border-top: 1px solid #c2feff;
}
.triBox {
    display:flex;
    flex-wrap:wrap
}
.triBox::after { 
    bottom: -1px; 
    right: -1px; 
	border-right: 1px solid #c2feff; 
    border-bottom: 1px solid #c2feff
}
.triBox::before {
    bottom: -1px; 
    left: -1px;
    border-left: 1px solid #c2feff; 
    border-bottom: 1px solid #c2feff
}
/* 225*125 */
.triCon {
    width:200px;
    height:125px;
    background:rgba(0,102,204,0.2); 
    box-shadow: 0 0 25px rgba(0, 214, 225, 0) inset; 
    position: relative; 
    margin:30PX 0 0 30px;
    padding: 20px; 
    box-sizing: border-box;
    border:1px solid #1b5184;
    display:flex;
    flex-wrap:wrap;
    transition: all .3s ease-in-out
}
.triCon::before , .triCon::after , .triConBox::before , .triConBox::after {
    position:absolute;
    width:12px;
    height:12px;
    content:""
}
.triCon::before { 
    top: -1px;
    left: -1px; 
	border-left: 1px solid #c2feff;
    border-top: 1px solid #c2feff; 
}
.triCon::after {
    top: -1px; 
    right: -1px; 
    border-right: 1px solid #c2feff; 
    border-top: 1px solid #c2feff;
}
.triConBox::after { 
    bottom: -1px; 
    right: -1px; 
	border-right: 1px solid #c2feff; 
    border-bottom: 1px solid #c2feff;  
}
.triConBox::before {
    bottom: -1px; 
    left: -1px; 
    border-left: 1px solid #c2feff; 
    border-bottom: 1px solid #c2feff;
}
.triConBox a {
    width:200px;
    height:125px;
    display:block;
    display:flex;
    font-size:12px;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    position:absolute;
    left:0;
    top:0
}
.triConBox a img {
    width:40px;
    margin:0 80px; 
    border:0
}
.triConBox a span {
    margin-top:-20px
}
.triCon:hover {
    background:rgba(0,102,204,0.2); 
    box-shadow: 0 0 25px rgba(0, 214, 225, 0.2) inset;
    filter:brightness(1.5)
}