@charset "utf-8";
/* CSS Document */

body {
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;    /* Internet Explorer/Edge */
    user-select: none;        /* 标准语法 */
}

.explain-col {
    border: 1px solid #3132a4; zoom:1; background: rgba(10,60,160,0.6); padding: 8px 10px; line-height: 20px; color:#bbd8f1
}

.tableContent {width:100%; /*height:calc(100vh - 80px);*/padding:10px;border-radius:5px;background:rgba(0,0,0,0.25);float:left;box-sizing: border-box;backdrop-filter:blur(10px)}
#treeContent {width:100%; padding:10px;border-radius:5px;background:rgba(0,0,0,0.25);float:left;box-sizing: border-box;backdrop-filter:blur(10px)}
#treeContentMain {background:rgba(10,60,160,0.6)}

/*通用列表样式补丁 人事*/
.table-list {color:#fff}
.kotable {font-family:microsoft yahei}
.kotable {border-top:0 solid #ddd;border-left:0 solid #ddd;margin-top:10px;float:left}
.kotable thead th {border-right:0 solid #ddd;border-bottom:1px solid #274ca2;background:rgba(10,60,160,0.6);text-align:center;height:40px;line-height:40px;font-size:14px}
.kotable tbody td {border-right:0 solid #ddd;border-bottom:1px solid #274ca2;text-align:center;line-height:1.5;font-size:12px;height:32px}
.kotable tbody tr {transition: all .2s ease-in-out}
.odd {	background:rgba(10,60,160,0.6)}
.even {	background:rgba(10,60,160,0.6)}
.iover {background:#001545;color:#ff3;}
.iover a {color:#ff3}
#pages {width:100%;float:left;margin-top:5px;margin-bottom:35px}

.kotable a {transition: all .2s ease-in-out}
.kotable a:hover {text-decoration:none}
.kotable a.modView  {background:#007cef;color:#fff;border-radius:3px;padding:1px 3px}
.kotable a.modView:hover  {background:#8fc9ff;color:#333}
.kotable a.modChange {background:#05ac58;color:#fff;border-radius:3px;padding:1px 3px}
.kotable a.modChange:hover  {background:#63ffb1;color:#333}
.kotable a.modLock {background:#b076ff;color:#fff;border-radius:3px;padding:1px 3px}
.kotable a.modLock:hover  {background:#8b76ff;color:#333}
.kotable a.modCancel {background:#f85171;color:#fff;border-radius:3px;padding:1px 3px}
.kotable a.modCancel:hover  {background:#ffd0d9;color:#333}
/*性别*/
.kotable .sexyMale {background:#f85171;padding:1px 0;border-radius:3px}
.kotable .sexyFemale {background:#06c766;padding:1px 0;border-radius:3px}
/*政治面貌*/
.kotable .PaCpc {background:#f85171;padding:1px 0;border-radius:3px}
.kotable .PaYlm {background:#06c766;padding:1px 0;border-radius:3px}
.kotable .PaCc {color:#fff}
/*职务*/
.kotable .gmDaps {background:#f85171;padding:1px 0;border-radius:3px}
.kotable .gmAa {background:#06c766;padding:1px 0;border-radius:3px}
.kotable .gmAp {color:#fff}

/*列表上检索表单样式补丁*/
.input-text , select {border:0}
input[type=submit] {border-radius:3px;transition: all .2s ease-in-out}

.doLock , .doSearch , .doExport {width:48px;height:20px;line-height:20px;border-radius:3px;color:#fff;border:0;cursor:pointer;margin-right:4px}
.doLock {background:#f60}
.doLock:hover {background:#F93}
.doSearch {background:#06c}
.doSearch:hover {background:#07cdd4}
.doExport {background:#3CC}
.doExport:hover {background:#46cdff}

.input-text , select , textarea {border:1px solid #3f40ac;border-radius:3px;background:#0e0957;color:#fff;}
input[type=input] , input[type=text]:focus ,textarea:focus {outline:none}
/*通用radio*/
input[type="radio"] { appearance: none; -webkit-appearance: none; -moz-appearance: none; width: 14px; height: 14px; border: 1px solid #ccc; border-radius: 50%; outline: none; transition: background-color 0.3s }
input[type="radio"]:checked { background-color: #3498db; border-color: #3498db}
input[type="radio"]:checked::after {content: ''; display: inline-block; width: 8px; height: 8px; border-radius: 50%; background-color: #fff; margin: 2px }

.btn input[type=submit] {width:80px;height:28px;transition: all .2s ease-in-out;margin-bottom:20px}
.btn input[type=submit]:hover {background:#0c6}

.table_form {width:100%; border:1px solid #0e0957;float:left;margin:0 0 20px 0;_display:inline;color:#eee}
.table_form tr:nth-child(even){background:rgba(40,50,150,0.6)}
.table_form tr:nth-child(odd){background:rgba(30,30,120,0.6)}
.table_form tbody td  {border-bottom:1px solid #0e0957; border-right:1px solid #0e0957; padding:4px 10px;height:32px}
.table_form input[type=input] , table_form input[type=text] {border:0;border-radius:3px;background:#0e0957;color:#fff}
.table_form input[type=submit] {width:80px;height:28px;background:#06c;color:#fff;border:0;transition: all .2s ease-in-out}
.table_form input[type=submit]:hover {background:#0C6}

#return_up {width:87px;height:30px;background:url(../images/newReturn.gif) no-repeat;position:fixed;right:10px;top:30px;cursor:pointer}

.clear {clear:both}
.baseinfo {width:1270px; border:0 solid #0e0957;float:left;margin:0 0 20px 20px;_display:inline;color:#eee}
.baseinfo tbody {background:rgba(10,60,160,0.6);}
.baseinfo td {border-bottom:1px solid #274ca2;padding:8px 10px;height:32px}
.baseinfo td b {margin-left:10px;color:#eee}
.infotitle {background:#28348e;font-weight:900;color:#eee}
.infotitle span {color:#eee}
.infoinput {width:200px;height:20px;background:#0e0957;border:1px solid #3f40ac;margin-left:5px;text-indent:1px}
.baseinfo select {padding:5px 0}
.infonum {width:525px;height:24px;background:#fff;border:0 solid #aaa;margin-left:10px;text-indent:5px}
.rad {margin-left:10px;margin-right:5px}
.infoselect {width:206px;margin-left:5px}
#headpic {width:150px;height:230px;background:#fff;margin-left:15px;overflow:hidden}
#headpic img {width:150px}
.topnav {width:960px;padding-left:10px;margin-top:10px}

.thisnav {width:100%;height:90px;background:rgba(10,60,160,0.1)}
.thisnav a {width:135px;height:90px;display:block;float:left;;color:#c4e8ff;font-weight:900;font-size:12px;text-decoration:none;text-align:center;overflow:hidden;transition: all .2s ease-in-out}
.thisnav a div {width:135px;height:90px;display:block;position:relative;overflow:hidden}
.thisnav a img {width:30px;position:absolute;left:50%;margin-left:-15px;top:40%;margin-top:-15px;transition: all .2s ease-in-out}
.thisnav a em {width:100%;height:36px;line-height:28px;display:block;font-style:normal;position:absolute;bottom:0;left:0}
.thisnav a:hover {background:rgba(0,150,200,0.3);color:#fff;border-radius:5px}
.thisnav a:hover img {filter:brightness(2.5)}

.tabcon {width:1270px;padding-top:30px;position:relative}
.tabcon .title {width:90px;height:24px;line-height:24px;text-align:center;background:#04de80;position:absolute;top:15px;left:35px;font-size:14px;font-weight:900;color:#333;border-radius:3px}
.tabcon input[type=submit] {width:120px;height:32px;line-height:24px;background:#06c;color:#fff;border:0;transition: all .2s ease-in-out}
.tabcon input[type=submit]:hover {background:#0C6}
.basetext {width:1150px;height:90px;background:#fff;border:1px solid #ddd;float:left;margin-left:5px;overflow:hidden}
.lztext {width:1150px;height:60px;background:#fff;border:1px solid #ddd;float:left;margin-left:5px;overflow:hidden}
.dowhat {width:160px;height:40px;line-height:40px;border-radius:6px;background:#06c;color:#fff;text-align:center;position:absolute;left:50%;margin-left:-80px;top:0px}
.null {width:100%;height:100px}
.rb {border-right:0 solid #ddd}
.upa {float:left;margin-left:15px}
.upa img {width:18px;margin-right:10px;}
.upa a {font-size:14px}

input[type=text] , input[type=input] , select , textarea {transition: box-shadow 0.3s ease;}
input[type=text]:focus , input[type=input]:focus , select:focus, textarea:focus, input[type=text]:hover , input[type=input]:hover , select:focus , textarea:focus {boder:1px solid #6FF;box-shadow: 0 0 8px rgba(100, 200, 255, 1);}


